<div class="navbar-fixed">
  <nav class="cyan darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo center">Neverwrite</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login"><%= __('Login') %></a></li>
        <li><a href="/signup"><%= __('Signup') %></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login"><%= __('Login') %></a></li>
        <li><a href="/signup"><%= __('Signup') %></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"> > </i></a>
    </div>
  </nav>
</div>

<div ng-controller="MainController">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('Hello, this is your notebooks') %></h1>
    <br>
    <a ng-click="addNotebook()" class="waves-effect waves-light btn center"><%= __('Add new notebook') %></a>
  </div>

  <div class="row">
    <div class="main container clearfix">
    <!-- Notebooks card-->
    <div class="card s12 m12" ng-repeat="notebook in notebooks">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/images/evernote_header.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ notebook.title }}<i class="material-icons right">+</i></span>
        <input ng-blur="editingnotebook = false;" ng-show="editingnotebook" ng-model="notebook.title" class="editing-label" />
        <p>
          <a href="" ng-click="saveNotebook(notebook)">Save</a>
          <a href="" ng-click="editingnotebook = !editingnotebook">Edit</a>
          <a href="" ng-click="deleteNotebook(notebook, $index)">Delete</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ notebook.title }}<i class="material-icons right">X</i></span>

        <!-- Todos list -->
        <div class="list">
          <div ng-class="{'editing-todo' : editing, 'edited' : todo.edited, 'completed' : todo.completed}" class="item" ng-repeat="todo in todos[notebook.id] | orderBy : 'completed' : true">
            <input type="checkbox" ng-model="todo.completed" />
            <span ng-click="todo.completed = !todo.completed"></span>
            <label style="font-size: 1.25rem;" ng-click="editing = !editing" ng-hide="editing" type="text" >{{todo.title}}</label>
            <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.title" class="editing-label" />
            <div class="actions">
              <a href="" ng-click="saveTodo(todo)">save</a>
              <a href="" ng-click="editing = !editing">edit</a>
              <a href="" ng-click="deleteTodo(notebook.id, todo, $index)">delete</a>
            </div>
          </div>
          <br>
          <a href="" class="waves-effect waves-light btn btn-small" ng-click="addTodo(notebook)"><%= __('Add new todo') %></a>
        </div>

      </div>
    </div>

  </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
